NOTION_API_KEY=
NOTION_PARENT_PAGE_ID=

NOTION_DB_WEEKLY_ARCHIVE=
NOTION_DB_GENERAL_AWARENESS=
NOTION_DB_DEFENCE_UPDATES=
NOTION_DB_CURRENT_AFFAIRS=
NOTION_DB_EDITORIALS=
NOTION_DB_VOCABULARY=
NOTION_DB_OIR_SETS=
NOTION_DB_RESOURCES=

NOTION_DS_WEEKLY_ARCHIVE=
NOTION_DS_GENERAL_AWARENESS=
NOTION_DS_DEFENCE_UPDATES=
NOTION_DS_CURRENT_AFFAIRS=
NOTION_DS_EDITORIALS=
NOTION_DS_VOCABULARY=
NOTION_DS_OIR_SETS=
NOTION_DS_RESOURCES=

# Add any additional production env variables here.
# SETUP_SECRET_KEY=
